html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.leaflet-container {
  min-height: 100vh;
  width: 100%;
}

.leaflet-interactive {
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}
